/* Navbar Section */
.navbar_div{
    background-color: #ffffff;
    /* z-index: 50; */
    position: sticky;
    top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.header{
    color: #4b5563;
    font-weight: 700;
}

.header_div{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.a{
    display: flex;
    /* font-weight: bold; */
    font-weight: 500;
    align-items: center;
    color: #111827;
    margin-bottom: 16px;
}

.image{
    width: 65px;
}

.span{
    margin-left: 12px;
    font-size: 20px;
    line-height: 28px;
}

.nav{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px ;
    line-height: 24px ;
    justify-content: center;
}

.nav_link{
    margin-right: 20px;
}

.nav_link:hover{
    color: #2563eb;
}

.button{
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    background-color: #f3f4f6;
    border-width: 0px;
    padding-top:  4px;
    padding-bottom: 4px;
    padding-left:  12px;
    padding-right: 12px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    left: 65%;
    right: 50%;

}

.button:hover{
    background-color: #e5e7eb;
}

.icons{
    font-size: 20px;
    line-height: 28px;
    margin-left: 8px;
}

.mobile{
    display: block;
    position: absolute;
    right: 20px;
    top: 30px;
}
.menu{
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin-left: 40px;
    margin-right: 40px;
    justify-items: center;
    font-weight: bold;
    /* line-height: 100px; */
}

.nav_link2{
    margin-right: 20px;
    font-size: 20px;
    line-height: 30px;
}

.nav_link2:hover{
    color: #2563eb;
}

/* Navbar Section */
@media (min-width: 640px){
    .mobile{
        display: none;
    }
    
    .navbar_div{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .nav{
        display: flex;
    }
    
    .header-div{
        flex-direction: row;
        align-items: center;
    }

    .button{
        left: 0;
        right: 0;
    }
}


@media (min-width: 768px) {
    .mobile{
        display: none;
    }
    
    .navbar_div{
        padding-left: 35px;
        padding-right: 35px;
    }
    
    .header_div{
        flex-direction: row;
        align-items: center;
    }
    .a{
        margin-bottom: 0px;
    }
    .nav{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .button{
        margin-top: 0px;
        left: 0;
        right: 0;
    }
}